.padleft{
  align-content: center;
  width: 15em;
  /*background-color: #c9daff;*/
  /*font-style: normal;*/
  /*color: rgba(32, 19, 40, 0.96);*/
  /*visibility: hidden;*/

}

.padinput{
  align-content: flex-start;
  width: 40em;
  /*visibility: hidden;*/



}