<div class="panel panel-info">
    <div class="panel-heading">Father Details</div>
    <div class="panel-body">
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Father Name</span>
            <input type="text" class="form-control padinput" placeholder="Father Name" aria-describedby="basic-addon1"
                   ng-model="user.father.name"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Father Phone Number</span>
            <input type="tel" class="form-control padinput" placeholder="Father Phone Number" aria-describedby="basic-addon1"
                   ng-model="user.father.phone"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Father Mail Id</span>
            <input type="mail" class="form-control padinput" placeholder="Father Mail Id" aria-describedby="basic-addon1"
                   ng-model="user.father.mail"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Father Qulification</span>
            <input type="text" class="form-control padinput" placeholder="Father Qulification" aria-describedby="basic-addon1"
                   ng-model="user.father.qualification"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Father Occupation</span>
            <input type="text" class="form-control padinput" placeholder="Father Occupation" aria-describedby="basic-addon1"
                   ng-model="user.father.occupation"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Father Organization</span>
            <input type="text" class="form-control padinput" placeholder="Father Organization" aria-describedby="basic-addon1"
                   ng-model="user.father.organization"/>
        </div>
        </br>

    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Mother Details</div>
    <div class="panel-body">
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Mother Name</span>
            <input type="text" class="form-control padinput" placeholder="Mother Name" aria-describedby="basic-addon1"
                   ng-model="user.mother.name"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Mother Phone Number</span>
            <input type="tel" class="form-control padinput" placeholder="Phone Number" aria-describedby="basic-addon1"
                   ng-model="user.mother.phone"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Mother Mail Id</span>
            <input type="mail" class="form-control padinput" placeholder="Mother Mail Id" aria-describedby="basic-addon1"
                   ng-model="user.mother.mail"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Mother Qulification</span>
            <input type="text" class="form-control padinput" placeholder="Mother Qulification" aria-describedby="basic-addon1"
                   ng-model="user.mother.qualification"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Mother Occupation</span>
            <input type="text" class="form-control padinput" placeholder="Mother Occupation" aria-describedby="basic-addon1"
                   ng-model="user.mother.occupation"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Mother Organization</span>
            <input type="text" class="form-control padinput" placeholder="Mother Organization" aria-describedby="basic-addon1"
                   ng-model="user.mother.organization"/>
        </div>
        </br>
    </div>
</div>