<div class="panel panel-info">
    <div class="panel-heading">Professional Details</div>
    <div class="panel-body">
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Education Qualification</span>
            <input type="text" class="form-control padinput" placeholder="Education Qualification" aria-describedby="basic-addon1"
                   ng-model="user.qualification"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">University Name</span>
            <input type="text" class="form-control padinput" placeholder="Father Phone Number" aria-describedby="basic-addon1"
                   ng-model="user.universityName"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Year of Passed out</span>
            <input type="number" min="1960" max="2040" class="form-control padinput" placeholder="Father Mail Id" aria-describedby="basic-addon1"
                   ng-model="user.passedOutYear"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Years of experience</span>
            <input type="number" min="0" max="40" class="form-control padinput" placeholder="Father Qulification" aria-describedby="basic-addon1"
                   ng-model="user.priorExp"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Previous Employer 1</span>
            <input type="text" class="form-control padinput" placeholder="Father Occupation" aria-describedby="basic-addon1"
                   ng-model="user.previousEmp1"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Start Date</span>
            <input type="datetime-local" class="form-control padinput" placeholder="Father Occupation" aria-describedby="basic-addon1"
                   ng-model="user.prevEmp1startDate"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">End Date</span>
            <input type="datetime-local" class="form-control padinput" placeholder="Father Occupation" aria-describedby="basic-addon1"
                   ng-model="user.prevEmp1endDate"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Previous Employer 2</span>
            <input type="datetime-local" class="form-control padinput" placeholder="Father Organization" aria-describedby="basic-addon1"
                   ng-model="user.previousEmp2"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">Start Date</span>
            <input type="datetime-local" class="form-control padinput" placeholder="Father Occupation" aria-describedby="basic-addon1"
                   ng-model="user.prevEmp2startDate"/>
        </div>
        </br>
        <div class="input-group  padinput">
            <span class="input-group-addon padleft" id="basic-addon1">End Date</span>
            <input type="datetime-local" class="form-control padinput" placeholder="Father Occupation" aria-describedby="basic-addon1"
                   ng-model="user.prevEmp2endDate"/>
        </div>
        </br>

    </div>
</div>